<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="author" content="">
    <meta name="description" content="">
  </head>

  <body>

    <header>
      {% include _post/header.html %}
    </header>

    <nav>
      {% include _post/nav.html %}
    </nav>

    <aside>
      {% include _post/aside.html %}
    </aside>

    <section>
      {{content}}
    </section>

    <footer>
      {% include _post/footer.html %}
    </footer>

  </body>

</html>
